[Desktop Entry]
Categories=Utility;
Comment=Keep Arch Linux Up-to-date
Encoding=UTF-8
Exec=kalu
GenericName=Upgrade Notifier for Arch Linux
Icon=kalu
Name=kalu
Type=Application
Version=1.0
